*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.active.navlink::before{
    @apply w-full
}
.navlink{
    @apply relative text-sm font-bold before:w-0
}
.navlink::before{
    @apply content-[''] absolute left-0 w-0 h-[2px] -bottom-2 bg-orange-500 duration-300
}
.navlink:hover::before{
    @apply w-full
}
.child{
    @apply w-[40px] h-[40px] rounded bg-orange-400/20 absolute;
    animation: upDown 20s linear forwards;
}
.sidebar_item a{
    position: relative;
    overflow: hidden;
}
.sidebar_item a::before{
    content: '';
    position: absolute;
    width: 30px;
    height: 100px;
    transform: rotate(20deg);
    background-color: white;
    z-index: 5;
    top: -10px;
    left: -50px;
    opacity: .2;
    transition: all 0.7s ease;
}
.sidebar_item:hover a::before{
    left: 100%;
}
.sidebar_item .active{
    position: relative;
    z-index: 2;
}
.sidebar_item .active::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 8px;
    left: 0;
    top: 0;
    background-color: #fff;
}

@keyframes upDown {
    from{
        transform: rotate(0deg);
        bottom: -100px;
    }   
    to{
        transform: rotate(360deg) ;
        bottom: 100%;

    }
}